CLOUD-7:
  deploy_host:
    device: 729605
    name: 729605-comp-s3700-045.cloud7.osic.rackspace.com
    oob_ip: 10.15.242.238
  nodes:
    node1:
      device: 729574
      name: 729574-comp-s3700-032.cloud7.osic.rackspace.com
      netmacs:
        1: 68-05-CA-32-E0-A4
        2: 68-05-CA-32-E0-A5
        3: 3C-FD-FE-9C-73-A0
        4: 3C-FD-FE-9C-73-A1
        iLO: 3C-A8-2A-10-D3-4C
      oob_ip: 10.15.242.207
    node10:
      device: 729583
      name: 729583-comp-s3700-023.cloud7.osic.rackspace.com
      netmacs:
        1: 68-05-CA-32-49-FC
        2: 68-05-CA-32-49-FD
        3: 68-05-CA-32-49-D8
        4: 68-05-CA-32-49-D9
        iLO: 3C-A8-2A-0F-FF-2C
      oob_ip: 10.15.242.216
    node11:
      device: 729585
      name: 729585-comp-s3700-065.cloud7.osic.rackspace.com
      netmacs:
        1: 3C-FD-FE-9C-71-F4
        2: 3C-FD-FE-9C-71-F5
        3: 3C-FD-FE-9C-72-0C
        4: 3C-FD-FE-9C-72-0D
        iLO: 3C-A8-2A-10-B5-04
      oob_ip: 10.15.242.218
    node12:
      device: 729586
      name: 729586-comp-s3700-064.cloud7.osic.rackspace.com
      netmacs:
        1: 3C-FD-FE-9C-6D-A8
        2: 3C-FD-FE-9C-6D-A9
        3: 3C-FD-FE-9C-61-04
        4: 3C-FD-FE-9C-61-05
        iLO: 3C-A8-2A-10-95-70
      oob_ip: 10.15.242.219
    node13:
      device: 729587
      name: 729587-comp-s3700-063.cloud7.osic.rackspace.com
      netmacs:
        1: 68-05-CA-32-DF-48
        2: 68-05-CA-32-DF-49
        3: 3C-FD-FE-9C-60-B4
        4: 3C-FD-FE-9C-60-B5
        iLO: 3C-A8-2A-10-73-DC
      oob_ip: 10.15.242.220
    node14:
      device: 729588
      name: 729588-comp-s3700-062.cloud7.osic.rackspace.com
      netmacs:
        1: 68-05-CA-32-DF-E8
        2: 68-05-CA-32-DF-E9
        3: 68-05-CA-32-DF-78
        4: 68-05-CA-32-DF-79
        iLO: 3C-A8-2A-10-B3-92
      oob_ip: 10.15.242.221
    node15:
      device: 729589
      name: 729589-comp-s3700-061.cloud7.osic.rackspace.com
      netmacs:
        1: 3C-FD-FE-9C-69-60
        2: 3C-FD-FE-9C-69-61
        3: 68-05-CA-32-46-44
        4: 68-05-CA-32-46-45
        iLO: 3C-A8-2A-10-62-62
      oob_ip: 10.15.242.222
    node16:
      device: 729590
      name: 729590-comp-s3700-060.cloud7.osic.rackspace.com
      netmacs:
        1: 3C-FD-FE-9C-71-E0
        2: 3C-FD-FE-9C-71-E1
        3: 3C-FD-FE-9C-73-6C
        4: 3C-FD-FE-9C-73-6D
        iLO: 3C-A8-2A-10-52-56
      oob_ip: 10.15.242.223
    node17:
      device: 729591
      name: 729591-comp-s3700-059.cloud7.osic.rackspace.com
      netmacs:
        1: 68-05-CA-31-FD-C0
        2: 68-05-CA-31-FD-C1
        3: 3C-FD-FE-9C-65-0C
        4: 3C-FD-FE-9C-65-0D
        iLO: 3C-A8-2A-10-95-F0
      oob_ip: 10.15.242.224
    node18:
      device: 729592
      name: 729592-comp-s3700-058.cloud7.osic.rackspace.com
      netmacs:
        1: 3C-FD-FE-9C-72-38
        2: 3C-FD-FE-9C-72-39
        3: 3C-FD-FE-9C-6F-DC
        4: 3C-FD-FE-9C-6F-DD
        iLO: 3C-A8-2A-10-10-D4
      oob_ip: 10.15.242.225
    node19:
      device: 729593
      name: 729593-comp-s3700-057.cloud7.osic.rackspace.com
      netmacs:
        1: 3C-FD-FE-9C-6F-CC
        2: 3C-FD-FE-9C-6F-CD
        3: 3C-FD-FE-9C-6A-AC
        4: 3C-FD-FE-9C-6A-AD
        iLO: 3C-A8-2A-10-95-BA
      oob_ip: 10.15.242.226
    node2:
      device: 729575
      name: 729575-comp-s3700-031.cloud7.osic.rackspace.com
      netmacs:
        1: 68-05-CA-32-DF-44
        2: 68-05-CA-32-DF-45
        3: 3C-FD-FE-9C-5F-88
        4: 3C-FD-FE-9C-5F-89
        iLO: 3C-A8-2A-10-B3-CA
      oob_ip: 10.15.242.208
    node20:
      device: 729594
      name: 729594-comp-s3700-056.cloud7.osic.rackspace.com
      netmacs:
        1: 3C-FD-FE-9C-6A-B0
        2: 3C-FD-FE-9C-6A-B1
        3: 3C-FD-FE-9C-6B-F4
        4: 3C-FD-FE-9C-6B-F5
        iLO: 3C-A8-2A-10-D3-D6
      oob_ip: 10.15.242.227
    node21:
      device: 729595
      name: 729595-comp-s3700-055.cloud7.osic.rackspace.com
      netmacs:
        1: 68-05-CA-32-48-90
        2: 68-05-CA-32-48-91
        3: 3C-FD-FE-9C-5E-FC
        4: 3C-FD-FE-9C-5E-FD
        iLO: 3C-A8-2A-10-A5-1C
      oob_ip: 10.15.242.228
    node22:
      device: 729596
      name: 729596-comp-s3700-054.cloud7.osic.rackspace.com
      netmacs:
        1: 3C-FD-FE-9C-73-50
        2: 3C-FD-FE-9C-73-51
        3: 3C-FD-FE-9C-6D-7C
        4: 3C-FD-FE-9C-6D-7D
        iLO: 3C-A8-2A-10-A5-30
      oob_ip: 10.15.242.229
    node23:
      device: 729597
      name: 729597-comp-s3700-053.cloud7.osic.rackspace.com
      netmacs:
        1: 68-05-CA-32-E0-1C
        2: 68-05-CA-32-E0-1D
        3: 68-05-CA-32-E0-4C
        4: 68-05-CA-32-E0-4D
        iLO: 3C-A8-2A-10-22-7E
      oob_ip: 10.15.242.230
    node24:
      device: 729598
      name: 729598-comp-s3700-052.cloud7.osic.rackspace.com
      netmacs:
        1: 3C-FD-FE-9C-70-DC
        2: 3C-FD-FE-9C-70-DD
        3: 3C-FD-FE-9C-6C-8C
        4: 3C-FD-FE-9C-6C-8D
        iLO: 3C-A8-2A-10-95-90
      oob_ip: 10.15.242.231
    node25:
      device: 729599
      name: 729599-comp-s3700-051.cloud7.osic.rackspace.com
      netmacs:
        1: 68-05-CA-35-90-18
        2: 68-05-CA-35-90-19
        3: 3C-FD-FE-9C-63-70
        4: 3C-FD-FE-9C-63-71
        iLO: 3C-A8-2A-10-95-FC
      oob_ip: 10.15.242.232
    node26:
      device: 729600
      name: 729600-comp-s3700-050.cloud7.osic.rackspace.com
      netmacs:
        1: 3C-FD-FE-9C-66-38
        2: 3C-FD-FE-9C-66-39
        3: 3C-FD-FE-9C-66-90
        4: 3C-FD-FE-9C-66-91
        iLO: 3C-A8-2A-10-52-A2
      oob_ip: 10.15.242.233
    node27:
      device: 729601
      name: 729601-comp-s3700-049.cloud7.osic.rackspace.com
      netmacs:
        1: 3C-FD-FE-9C-70-10
        2: 3C-FD-FE-9C-70-11
        3: 68-05-CA-32-E0-64
        4: 68-05-CA-32-E0-65
        iLO: 3C-A8-2A-10-10-D0
      oob_ip: 10.15.242.234
    node28:
      device: 729602
      name: 729602-comp-s3700-048.cloud7.osic.rackspace.com
      netmacs:
        1: 3C-FD-FE-9C-6D-CC
        2: 3C-FD-FE-9C-6D-CD
        3: 3C-FD-FE-9C-6D-C8
        4: 3C-FD-FE-9C-6D-C9
        iLO: 3C-A8-2A-10-A3-A0
      oob_ip: 10.15.242.235
    node29:
      device: 729603
      name: 729603-comp-s3700-047.cloud7.osic.rackspace.com
      netmacs:
        1: 3C-FD-FE-9C-60-44
        2: 3C-FD-FE-9C-60-45
        3: 3C-FD-FE-9C-5F-9C
        4: 3C-FD-FE-9C-5F-9D
        iLO: 3C-A8-2A-10-23-60
      oob_ip: 10.15.242.236
    node3:
      device: 729576
      name: 729576-comp-s3700-030.cloud7.osic.rackspace.com
      netmacs:
        1: 68-05-CA-32-DF-28
        2: 68-05-CA-32-DF-29
        3: 3C-FD-FE-9C-6F-58
        4: 3C-FD-FE-9C-6F-59
        iLO: 3C-A8-2A-10-10-8A
      oob_ip: 10.15.242.209
    node30:
      device: 729604
      name: 729604-comp-s3700-046.cloud7.osic.rackspace.com
      netmacs:
        1: 3C-FD-FE-9C-6D-68
        2: 3C-FD-FE-9C-6D-69
        3: 3C-FD-FE-9C-6E-58
        4: 3C-FD-FE-9C-6E-59
        iLO: 3C-A8-2A-10-95-BC
      oob_ip: 10.15.242.237
    node4:
      device: 729577
      name: 729577-comp-s3700-029.cloud7.osic.rackspace.com
      netmacs:
        1: 68-05-CA-32-47-70
        2: 68-05-CA-32-47-71
        3: 68-05-CA-35-8E-F4
        4: 68-05-CA-35-8E-F5
        iLO: 3C-A8-2A-10-95-A8
      oob_ip: 10.15.242.210
    node5:
      device: 729578
      name: 729578-comp-s3700-028.cloud7.osic.rackspace.com
      netmacs:
        1: 3C-FD-FE-9C-5E-A4
        2: 3C-FD-FE-9C-5E-A5
        3: 3C-FD-FE-9C-6F-60
        4: 3C-FD-FE-9C-6F-61
        iLO: 3C-A8-2A-0F-4C-60
      oob_ip: 10.15.242.211
    node6:
      device: 729579
      name: 729579-comp-s3700-027.cloud7.osic.rackspace.com
      netmacs:
        1: 3C-FD-FE-9C-6D-58
        2: 3C-FD-FE-9C-6D-59
        3: 3C-FD-FE-9C-6C-EC
        4: 3C-FD-FE-9C-6C-ED
        iLO: 3C-A8-2A-0F-EF-E0
      oob_ip: 10.15.242.212
    node7:
      device: 729580
      name: 729580-comp-s3700-026.cloud7.osic.rackspace.com
      netmacs:
        1: 68-05-CA-32-46-3C
        2: 68-05-CA-32-46-3D
        3: 68-05-CA-32-46-34
        4: 68-05-CA-32-46-35
        iLO: 3C-A8-2A-0F-EF-50
      oob_ip: 10.15.242.213
    node8:
      device: 729581
      name: 729581-comp-s3700-025.cloud7.osic.rackspace.com
      netmacs:
        1: 3C-FD-FE-9C-69-F4
        2: 3C-FD-FE-9C-69-F5
        3: 3C-FD-FE-9C-61-0C
        4: 3C-FD-FE-9C-61-0D
        iLO: 3C-A8-2A-10-52-28
      oob_ip: 10.15.242.214
    node9:
      device: 729582
      name: 729582-comp-s3700-024.cloud7.osic.rackspace.com
      netmacs:
        1: 3C-FD-FE-9C-6F-1C
        2: 3C-FD-FE-9C-6F-1D
        3: 3C-FD-FE-9C-73-14
        4: 3C-FD-FE-9C-73-15
        iLO: 3C-A8-2A-10-95-AA
      oob_ip: 10.15.242.215
